SELO_OPERADOR_LOTEPBASE_URL=https://portal-dev.app.lotep.pb.gov.br
SELO_OPERADOR_LOTEPCNPJ=12345678000199
SELO_OPERADOR_LOTEPSECRET=minha_chave_super_secreta_lotep
SELO_OPERADOR_LOTEPSTYLE=footer
SELO_OPERADOR_LOTEPTHEME=black
