SELO_OPERADOR_LOTEP_BASE_URL=https://portal-dev.app.lotep.pb.gov.br
SELO_OPERADOR_LOTEP_CNPJ=12345678000199
SELO_OPERADOR_LOTEP_SECRET=minha_chave_super_secreta_lotep
SELO_OPERADOR_LOTEP_STYLE=footer
SELO_OPERADOR_LOTEP_THEME=black
